<form method="post" id="salaryCreateForm" class="form-actions" action="">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" name="salary_sum" id="salary_sum">
        </div>
        <div>
            <button class="btn btn-success">send</button>
        </div>
    </div>
</form>